* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* 
---------------------------
  ROOT VARIABLES
---------------------------

*/

:root {
  --primary-color: #f5f5f5;
  --secondary-color: #000;
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Montserrat", sans-serif;
  --base-font-size: 16px;
  --color-black: #000;
  --color-white: #fff;
  --text-bold: 500;
  --text-semi-bold: 600;
  --text-bolder: 700;
  --btn-primary: #2189ff;
  --letter-spacing: 1.5px;
}

/* 
---------------------------
  GLOBAL STYLES
---------------------------

*/

body {
  font-family: var(--primary-font);
  font-size: var(--base-font-size);
  letter-spacing: var(--letter-spacing);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

h4 {
  font-weight: 500;
}

p {
  font-size: 18px;
  font-weight: var(--text-bolder);
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

.btn {
  padding: 1em 1.5em;
  border: none;
  font-family: var(--primary-font);
  font-weight: var(--text-semi-bold);
  cursor: pointer;
  letter-spacing: var(--letter-spacing);
}
.btn-primary {
  background-color: var(--btn-primary);
  color: var(--color-white);
}
.container {
  max-width: 90%;
  margin: 0 auto;
}

@media (hover: hover) {
  .btn:hover {
    background-color: var(--color-black);
    color: var(--color-white);
  }
}
